{{ define "yield" }}

    <h1>Get in touch!</h1>
        <p>To get in touch, please send an email to
            <a href="mailto:support@bespokeops.io">support@bespokeops.io</a>.
        </p>

{{ end }}